
@model FlightJobs.Models.StatisticsDbModel
<style>
    .tag {
        float: right;
        position: absolute;
        left: 80%;
        top: 0px;
        z-index: 1000;
        color: #9d9d9d;
        font-size: small;
    }
</style>
@if (Model != null)
{
    <div class="tag"  style="padding-top: 30px;">@Html.DisplayNameFor(model => model.BankBalance): @Html.DisplayFor(model => model.BankBalance)</div>
    <div class="tag" style="padding-top:45px ">@Html.DisplayNameFor(model => model.PilotScore): @Html.DisplayFor(model => model.PilotScore)</div>
}

