
@model FlightJobs.Models.StatisticsDbModel
<style>
    .tag {
        color: #5bc0de;
        font-size: small;
        padding-left:20px;
    }
</style>
@if (Model != null)
{
    <div class="tag"  style="padding-top: 10px;">@Html.DisplayNameFor(model => model.BankBalance): @string.Format("{0:C}", Model.BankBalance) </div>
    <div class="tag">@Html.DisplayNameFor(model => model.PilotScore):  @Html.DisplayFor(model => model.PilotScore)</div>
}

