<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <img class="img-responsive center-block" src="/Content/img/FlightJobsLogo0001.png">
    <h3 style="color: #5bc0de;">Flightjobs website changed to: </h3>
    <h3><a href="https://flightjobs.bsite.net/">https://flightjobs.bsite.net/</a></h3>
    @RenderBody()
</body>
</html>
