body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.file-drop-zone {
    margin: 0px;
}

.kv-avatar {
    display: inline-block;
}

    .kv-avatar .file-input {
        display: table-cell;
        width: 110px;
    }

.krajee-default.file-preview-frame .kv-file-content {
    width: 110px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

/* Begin Custon Radio / checkbox */


.funkyradio-info {
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    margin-top: 1em;
    width:139px;
}

.funkyradio label {
    width: 100%;
    /*border-radius: 3px;
    border: 1px solid #D1D3D4;*/
    font-weight: normal;
    text-align:center;
}

.funkyradio img {
    margin-top: 2px;
    cursor: pointer;
    
}
.funkyradio span {
    padding-left:30px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

    .funkyradio input[type="radio"]:empty ~ label,
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        text-indent: 2.3em;
        margin-bottom: 0px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .funkyradio input[type="radio"]:empty ~ label:before,
    .funkyradio input[type="checkbox"]:empty ~ label:before {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 2.5em;
        background: #D1D3D4;
        border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: 0.3em;
        padding-top:2.3em;
        color: #C2C2C2;
    }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .funkyradio input[type="radio"]:checked ~ label:before,
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: 0.3em;
        padding-top: 2.3em;
        color: #333;
        background-color: #ccc;
    }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

/* End Custon Radio */

div.card {
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
    padding-top: 0px;
    padding-bottom: 0px;
}

.ads-content {
    margin-top: 20px;
    border-left: 1px solid #eee;
}

/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 210px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 220px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.0), 0 5px 5px 2px rgba(0, 0, 0, 0.19);
}

.sidenav ul {
    display: contents;
    list-style-type: none;
}
.sidenav li:hover {
    color: #5bc0de;
    background-color: #eeeff0;
    cursor: pointer;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: inline-block;
    width:80%;
}

.sidenav li.divider {
    height: 1px;
    margin: 12px 0 12px;
    background: #eaeaea;
}


@media (min-width: 768px) {
    .navbar-header {
        float: unset;
    }
}

.sidenav .black-icon {
    color: #818181;
    font-size: large;
    margin-left: 6px;
}

.separator {
    background-color: dimgray;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.my-form-content {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
}