@model FlightJobs.Models.JobSerachModel

<div id="CapacityListContent">
    <div class="col-md-12">
        <label class="control-label" for="CustomPassengerCapacity">Capacity list</label>
        @Html.DropDownListFor(model => model.CustomPlaneCapacity.Id, Model.CustomPlaneCapacityList, new { @class = "form-control", @style = "max-width: 100%;" })

    </div>
</div>

<script>
    $('#CustomPlaneCapacity_Id').change(function () {

        $.ajax({
            url: '@Url.Action("GetCustonCapacity", "SearchJobs")',
            type: "Get",
            data: { id: $('#CustomPlaneCapacity_Id').val() },
            success: function (result) {
                if (result != null && result != '') {
                    $('#CustomPlaneCapacity_CustomPassengerCapacity').val(result.CustomPassengerCapacity);
                    $('#CustomPlaneCapacity_CustomPaxWeight').val(result.CustomPaxWeight);
                    $('#CustomPlaneCapacity_CustomCargoCapacityWeight').val(result.CustomCargoCapacityWeight);
                    $('#CustomPlaneCapacity_CustomNameCapacity').val(result.CustomNameCapacity);
                    $("#CustomPlaneCapacity_ImagePath").attr("src", result.ImagePath)
                }
            }
        });
    });
</script>