<div style='font-size:10px;'>
    <div class='row'>
        <div class='col-md-8'><strong>Graduation Name</strong></div>
        <div class='col-md-4'><strong>Flight hours</strong></div>
    </div>
    <hr style='margin:0px; padding:2px;' />
    <div class='row'>
        <div class='col-md-8'><strong>ATP Senior Commander</strong></div>
        <div class='col-md-4'>5000+</div>
    </div>

    <div class='row'>
        <div class='col-md-8'><strong>ATP Commander</strong></div>
        <div class='col-md-4'>4000 - 4999</div>
    </div>

    <div class='row'>
        <div class='col-md-8'><strong>ATP Senior Captain</strong></div>
        <div class='col-md-4'>3000 - 3999</div>
    </div>

    <div class='row'>
        <div class='col-md-8'><strong>ATP Captain</strong></div>
        <div class='col-md-4'>2000 - 2999</div>
    </div>

    <div class='row'>
        <div class='col-md-8'><strong>ATP First Officer</strong></div>
        <div class='col-md-4'>1500 - 1999</div>
    </div>    				
    
    <div class='row'>
        <div class='col-md-8'><strong>Commercial Senior Commander</strong></div>
        <div class='col-md-4'>1000 - 1499</div>
    </div>   

    <div class='row'>
        <div class='col-md-8'><strong>Commercial Commander</strong></div>
        <div class='col-md-4'>750 - 999</div>
    </div>     				
    
    <div class='row'>
        <div class='col-md-8'><strong>Commercial Senior Captain</strong></div>
        <div class='col-md-4'>540 - 749</div>
    </div>  
    	
    <div class='row'>
        <div class='col-md-8'><strong>Commercial Captain</strong></div>
        <div class='col-md-4'>430 - 539</div>
    </div>
    	
    <div class='row'>
        <div class='col-md-8'><strong>Commercial First Officer</strong></div>
        <div class='col-md-4'>360 - 429</div>
    </div>
    	
    <div class='row'>
        <div class='col-md-8'><strong>Senior Captain</strong></div>
        <div class='col-md-4'>250 - 359</div>
    </div>
    		
    <div class='row'>
        <div class='col-md-8'><strong>Captain</strong></div>
        <div class='col-md-4'>160 - 249</div>
    </div>				
    
    <div class='row'>
        <div class='col-md-8'><strong>First Officer</strong></div>
        <div class='col-md-4'>80 - 159</div>
    </div>	
    
    <div class='row'>
        <div class='col-md-8'><strong>Flight Officer</strong></div>
        <div class='col-md-4'>40 - 79</div>
    </div>	
    
    <div class='row'>
        <div class='col-md-8'><strong>Junior Flight Officer</strong></div>
        <div class='col-md-4'>0 - 39</div>
    </div>
</div>