@{
    ViewBag.Title = "Confirm email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thanks for confirming your email. @Html.ActionLink("Click here to enter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
