@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application for X-Plane 11 simulate pilot and airliners jobs. 
    If you like it, please consider to make a <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=B2GHF8WFN95JW&lc=AU&item_name=Rudolf%20Hardy%20Plutarco%20Arag%C3%A3o&currency_code=USD&bn=PP-DonationsBF%3Abtn_donateCC_LG.gif%3ANonHosted">Donation</a>. 
    Donations will be spent paying the servers costs.
    
</p>
