@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fortaleza<br />
    Brazil<br />
    <abbr title="Phone">P:</abbr>
    111.555.111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rhpa23@gmail.com">Email</a><br />
</address>